:root {
  font-family: "Mulish", sans-serif;
  margin: 0;
  --grey: #666666;
  --midgrey: #c2c3c9;
  --lightwhite: #fff;
  --lightgrey: #f6f7fb;
  --lightblack: #333333;
}

* {
  box-sizing: border-box;
}

.goog-te-combo {
  border: 2px solid var(--midgrey);
  padding: .25rem;
  border-radius: 5px;
  background-color: var(--lightgrey)
}
.translated-ltr {
  margin: -40px 0;
}

.goog-logo-link,
.goog-te-banner-frame {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

body {
  background-color: var(--lightgrey);
  color: var(--lightblack);
  margin: 0;
}

#mobile {
  display: none;
}

.threejs-overlay-text {
  color: rgba(255, 255, 255, 1);
  mix-blend-mode: difference;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.btn-single {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: var(--lightblack);
  width: 100%;
  color: var(--lightwhite);
  cursor: pointer;
}
.progress-main {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--lightwhite);
  padding: 1rem;
  margin-top: -36px;
  top: 0;
  left: 0;
}

.progress-container {
  background: var(--lightgrey);
  width: 100%;
  height: 8px;
}

.progress-bar {
  height: 8px;
  /* background: var(--midgrey); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  width: 0%;
  border-radius: 1rem;
  animation: bodycolor 50s infinite;
}

.progress-dot {
  display: none;
  opacity: 0;
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 10px;
  background-color: var(--lightwhite);
  border: 5px solid var(--grey);
  top: 0.2rem;
  border-radius: 50%;
  z-index: 1;
}

li + li {
  margin-top: 1rem;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--lightblack);
}

a:visited {
  color: var(--lightblack);
}

.icon {
  margin-left: 0.5rem;
  width: 10px;
  height: 10px;
}
.icon--big {
  width: 48px;
  height: 48px;
}

main {
  margin: 0;
  margin-left: 20rem;
}
.navbar {
  position: fixed;
  background-color: var(--lightwhite);
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  width: 20rem;
  padding: 2.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar--intro {
  padding: 2.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar--mobile {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightwhite);
  color: var(--lightblack);
  z-index: 2;
}

.navbar--logo {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-weight: 700;
}

.navbar--menu-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  opacity: 1;
  margin: 0;
  left: 0;
  top: 50px;
  width: 100vw;
  z-index: 99999;
  background-color: var(--lightwhite);
  color: var(--lightblack);
}

.navbar--menu-dropdown > a {
  padding: 1rem;
  color: var(--lightblack);
  text-decoration: none;
}

.navbar--menu-dropdown > a:hover {
  background-color: white;
  color: var(--main-color);
}

.navbar--menu-burger {
  width: 45px;
  height: 45px;
  z-index: 9999;
  background: url("./img/menu.svg") center no-repeat;
  cursor: pointer;
}

.navbar--menu-burger-close {
  width: 25px;
  height: 25px;
  z-index: 9999;
  background: url(../img/icon/icon-close.svg) center no-repeat;
}

.navbar--menu-is-visible {
  display: none;
  opacity: 0;
  height: 0;
  z-index: -9999;
}

.page--content {
  max-width: 1000px;
  margin: 5rem auto;
}

.grey {
  color: var(--grey);
}

.content--card-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
}
.content--dream-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.content--card {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.content--card + .content--card {
  margin-top: 2.5rem;
}
.content--card-img {
  width: 48px;
  height: 48px;
  /* border-radius: 50%; */
  margin-right: 1rem;
  object-fit: cover;
}

.content--card-main {
  display: flex;
}

.content--card-main-center {
  display: flex;
  align-items: center;
  margin: 1rem;
  min-width: 200px;
}
.content--card {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.content--card + .content--card {
  margin-top: 2.5rem;
}
.content--card-img {
  width: 48px;
  height: 48px;
  /* border-radius: 50%; */
  margin-right: 1rem;
  object-fit: cover;
}

.content--card-index {
  margin-right: 1rem;
}

.content--dream {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin-top: 2.5rem;
}

.content--dream-index {
  margin-right: 1rem;
  background-color: var(--lightwhite);
  border-radius: 50%;
  min-width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content--dream-main {
  display: flex;
  padding: 0.5rem;
  border: 2px solid var(--lightgrey);
}

.content--dream-main:hover {
  background-color: white;
  border: 2px solid;
  border-image: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-image-slice: 1;
  border-width: 2px;
  cursor: pointer;
}

.content--dream-main:hover > .content--dream-index {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}

.content--dream-filter {
  display: none;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.blur {
  filter: blur(5px);
}

.book-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

input {
  width: 100%;
  padding: 0.25rem;
}

input + input {
  margin-top: 0.5rem;
}

input + button {
  margin-top: 0.5rem;
}

.searchInput {
  background-image: url("./img/search.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.content--book-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.5rem;
  margin-right: 2rem;
  min-width: 200px;
}
.content--book-title {
  max-width: 200px;
  text-align: center;
}
.content--book-img {
  width: 100px;
  height: 150px;
  /* border-radius: 50%; */
  object-fit: contain;
}

.content--book-filter {
  display: none; /* Hidden by default */
}

.show {
  display: block;
}

.content--card-year {
  color: var(--grey);
  opacity: 0.5;
  margin: 4px 0 16px 0;
}

.paywall--card {
  border: 0.25px solid var(--grey);
  max-width: 700px;
  padding: 2rem;
  position: absolute;
  background: var(--lightgrey);
  top: 35%;
  left: 50%;
  transform: translate(-50%, -5%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 100%;
  height: 500px;
}

/* p {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: black;
} */

.dark-mode {
  background-color: black;
  color: white;
}

@media screen and (max-width: 1000px) {
  .navbar {
    display: none;
  }

  main {
    margin-left: 0;
  }

  .page--content {
    margin: 7rem 2rem;
  }

  .progress-main {
    position: fixed;
    margin-top: 3rem;
  }

  #desktop {
    display: none;
  }

  #mobile {
    display: flex;
  }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .modal-content {
    margin: 25% auto;
    width: 90%;
  }

  .paywall--card {
    top: 50%;
  }
}
